In [1]:
import numpy as np
import pandas as pd
ser = pd.Series()
print("Pandas Series : ",ser)
data = np.array(['c','h','r','i','s','t'])
ser = pd.Series(data)
print("Pandas Series:\n", ser)
df = pd.DataFrame()
print(df)
lst = ['Christ','Deemed','To','Be','Univeristy','Bangalore','Karnataka']
df = pd.DataFrame(lst)
print(df)

Pandas Series :  Series([], dtype: object)
Pandas Series:
 0    c
1    h
2    r
3    i
4    s
5    t
dtype: object
Empty DataFrame
Columns: []
Index: []
            0
0      Christ
1      Deemed
2          To
3          Be
4  Univeristy
5   Bangalore
6   Karnataka